body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
nav a {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 50px;
  padding: 2px;
}
h1 {
  font-size: 70px;
}
p {
  color: dimgray;
}
.word-highlighter {
  color: orangered;
}
section {
  height: 600px;
  padding-bottom: 150px;
}
.top-banner {
  background-image: url("/images/top-banner.png");
  background-repeat: no-repeat;
}
.first-half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 20px;
}
.first-half-width img {
  width: 500px;
  margin-top: 60px;
}
.first-half-width h1 {
  font-size: 60px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(245, 241, 7), tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: whitesmoke;
}
.second-half-width img {
  width: 550px;
}
.second-half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 3%;
}
.col {
  float: left;
  width: 333px;
  padding: 15px;
  margin-left: 70px;
  box-shadow: 5px 5px 20px rgb(173, 172, 172);
  border-radius: 15px;
  height: 80%;
  background-color: white;
  margin-top: 80px;
}
h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
}
.bottom-banner {
  background-color: rgb(227, 230, 233);
  margin: 0;
}

.work-inquiry {
  font-size: 40px;
  color: white;
  margin-left: 100px;
  margin-top: 300px;
  padding-top: 30px;
  width: 80%;
}
.work-inquiry h3 {
  display: inline-block;
}
.work-inquiry a {
  float: right;
  margin-top: 45px;
  font-size: 20px;
}

.coll img {
  width: 60px;
  float: left;

  bottom: 500px;
  right: 16px;
}

footer h5 {
  text-align: center;
}
footer h3 {
  text-align: center;
}
.coll {
  margin-left: 580px;
}
.lowerBottom-banner {
  background-image: url("/images/exp-bg.png");
  background-repeat: no-repeat;
  height: 600px;
  padding-bottom: 150px;
  border: 1px solid white;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(179, 240, 11), tomato);
  border-image-slice: 1;
  padding-left: 5px;
  float: left;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(91, 11, 240), rgb(111, 204, 241));
  border-image-slice: 1;
  padding-left: 5px;
}
.lb-banner {
  background-image: url("/shapes/Group_33094_1.png");
  background-repeat: no-repeat;

  background-position: top center;
  background-size: 100%;
  height: 100%;
  width: 70%;
  margin-left: 190px;
  margin-top: 500px;
}
.single-experience {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 300px;
  width: 500px;
  background-color: whitesmoke;
  float: left;
  padding-bottom: 30px;
  margin-top: 100px;
  margin-left: 120px;
}

.second-half-width h2 {
  text-align: left;
  font-size: 50px;
}

.link-button2 {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(245, 35, 7), tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: whitesmoke;
  width: 14%;

  font-size: 25px;

  font-size: 20px;
}

.link-button3 {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgba(236, 83, 190, 0.842), tomato);
  padding: 15px 20px;
  border-radius: 5px;
  color: whitesmoke;
  width: 14%;
  height: 30px;
  font-size: 30px;

  font-size: 5px;
}

.bottom-banner h2 {
  font-size: 50px;
}
footer {
  margin-top: 100px;
}
